@font-face {
  font-family: 'opensource';
  src: url('/fonts/opensaucesans-regular.woff') format('woff'), url('/fonts/opensaucesans-regular.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'opensource';
  src: url('/fonts/opensaucesans-extrabold.woff') format('woff'), url('/fonts/opensaucesans-extrabold.woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'opensource';
  src: url('/fonts/opensaucesans-medium.woff') format('woff'), url('/fonts/opensaucesans-medium.woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'opensource';
  src: url('/fonts/opensaucesans-mediumitalic.woff') format('woff'), url('/fonts/opensaucesans-mediumitalic.woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.js-fade-up {
  transform: translateY(80px);
  opacity: 0;
  transition: all .425s ease-out;
}

.js-fade-up.in-view {
  transform: translateY(0);
  opacity: 1;
}

.js-card-reveal {
  border: 2px solid red;
}