---
import Grid from "../components/Grid.astro";
---

<footer class="pt-16 pb-5">
  <Grid>
    <p
      class="uppercase font-extrabold text-tiny text-white text-center col-span-full tracking-wider"
    >
      © 2024 Jamie Moore.<br class="md:hidden" /> I don’t collect personal
      data. No cookies necessary.
    </p>
  </Grid>
</footer>
