---

---

<article
  class="rounded-3xl bg-white p-6 md:p-10 flex flex-col col-span-1 md:col-span-5 lg:col-span-4 md:min-h-[450px]"
>
  <h3 class="text-black text-h3 md:text-h3Med md:max-w-[425px] mb-2">
    Lover of music
  </h3>
  <p class="mb-3">
    Here’s what i’ve been listening to lately: Kendrick Lamarr, Taylor Swift and
    Kanye West.
  </p>

  <span class="uppercase font-extrabold text-tiny text-bright-purple">
    &ast; Data grabbed from the Last.fm API
  </span>
</article>
