---

---

<article
  class="rounded-3xl bg-white p-6 md:p-10 flex flex-col justify-end col-span-1 md:col-span-5 md:min-h-[450px]"
>
  <h3 class="text-black text-h3 md:text-h3Med md:max-w-[425px] mb-4">
    Previously worked at...
  </h3>
  <ul class="">
    <li><strong>Gooey</strong> &#8212; Wordpress Developer</li>
    <li><strong>Rabbithole</strong> &#8212; Wordpress Developer</li>
    <li>
      <strong>Thompson Brand Partners</strong> &#8212; Designer and developer
    </li>
  </ul>
</article>
