---

---

<article
  class="rounded-3xl bg-white p-6 pt-[180px] md:py-10 md:px-4 lg:py-10 lg:px-8 flex flex-col justify-end col-span-1 md:col-span-5 md:min-h-[450px]"
>
  <h3
    class="text-black text-h3 md:text-h3Med lg:text-h3Lg md:max-w-[425px] mb-4"
  >
    Previously worked at...
  </h3>
  <ul class="md:text-sm lg:text-base">
    <li
      class="relative mb-2 pl-3 text-base lg:mb-1 after:absolute after:content-[' '] after:block after:h-[6px] after:w-[6px] after:rounded-full after:top-[9px] after:bg-bright-purple after:left-0"
    >
      <strong>Gooey</strong><br class="lg:hidden" />
      <span class="hidden lg:inline">&#8212;</span> Wordpress Developer
    </li>
    <li
      class="relative mb-2 pl-3 text-base lg:mb-1 after:absolute after:content-[' '] after:block after:h-[6px] after:w-[6px] after:rounded-full after:top-[9px] after:bg-bright-purple after:left-0"
    >
      <strong>Rabbithole</strong><br class="lg:hidden" />
      <span class="hidden lg:inline">&#8212;</span> Wordpress Developer
    </li>
    <li
      class="relative mb-2 pl-3 text-base lg:mb-1 after:absolute after:content-[' '] after:block after:h-[6px] after:w-[6px] after:rounded-full after:top-[9px] after:bg-bright-purple after:left-0"
    >
      <strong>Thompson Brand Partners</strong><br class="lg:hidden" />
      <span class="hidden lg:inline">&#8212;</span> Designer and developer
    </li>
  </ul>
</article>
