---
import Grid from "../components/Grid.astro";
---

<Grid classes="pt-[120px] pb-10 h-[85vh] items-end">
  <h1
    class="font-extrabold text-white md:col-span-7 text-3xl md:text-5xl lg:text-[62px]"
  >
    Jamie Moore
  </h1>
  <p class="text-white md:col-span-3 text-xl">
    <em>Creative developer</em>, with a background in <em>digital design</em>.
  </p>
</Grid>
